@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&family=Poppins:wght@200;400&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   * {
    font-family: "Poppins";
  }

    .hero-image {
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.300),rgba(0, 0, 0, 0.3)) , url('../assets/images/workingout.jpg'); 
        background-position: center;
        margin-top: 70px;
        background-color: black;
    }
}

.nav-hover {
  @apply after:content-[''] after:h-[2px] after:w-0 after:bg-primary after:absolute after:left-0 after:-bottom-1 transition after:duration-300 hover:after:w-full;
}
